body {
    margin:0PX;
    padding: 0px;
    font-family: "Outfit", sans-serif;
}

.contenedor {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    position: relative;
    border: solid red 5px;
}

.contenedor-interno {
    width: 375px; 
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 16px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: ;
}

/* */
/* Aca estamos diciendo que queremos aplicar el estilo
a cada element que este dentro de este div
* es igual a todo */
.contenedor-interno * {
    margin-top: 10px;




    
}

/*last-child: vamos a obtener el ultimo elemento */
/* 5 (p) */
/*tomara la ultima p*/
/*p: last-child*/
.contenedor-interno:last-child {
    border: solid;
    margin-bottom: 20px;
}

img {
    width: 345px;
    border-radius: 16px;
}

h4 {
    width: 60%;
    margin: auto;
}

p {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}