body {
    margin: 0;
    padding: 0;
    font-family: "Open sans", sans-serif;
}

.nav {
    margin-top: 30px;
    height: 10vh;
}

.logo {
    float: left;
    height: 10vh;
}

.logo img {
    position: relative;
    top: 50px;
    transform: translateY(-50%);
    border: solid red;
}

.body {
    float: left;
}

.list-menu {
    float: right;
}

.list-menu ul li {
    display: inline;
    padding: 20px;
    color: hsl(238, 22%, 44%);
    font-weight: 400;
}

.containers-welcome {
    height: 90vh;
    padding: 30px;
}

.containers-welcome-left {
    float: left;
}

.containers-welcome-left h1 {
    width: 60%;
    font-weight: bold;
}

/* Solo afecta a los inputs de tipo email */
input[type="text"] {
    border: solid 4px;
}

.containers-welcome-left div {
    border: solid red;
}

.containers-welcome-right {
    float: right;
}