
body {
    font-family: verdana;
}

.bg {
    border: solid;
    height: 300px;
}

.color-red {
    background: red;
    /*background-color: solid;*/
}

.color-green {
    background: green;
}

.bg-img-montaña {
    background: url(images/MONTAÑA.webp);
}